{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="display-1 font-weight-bold">404</h1>
                <p class="h2">OOOP's Page Not Found</p>
                <p class="h3">Sorry, the page you are looking for does not exist or has been moved.</p>
                <a href="/" class="btn btn-primary mt-4">Return to home page</a>
            </div>
        </div>
    </div>
{% endblock %}