{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="header-section text-center mb-5">
        <h1>Temperature Dashboard</h1>
        <p class="lead">Monitor and manage temperature data effectively</p>
    </div>
    <div class="row mb-4">
        <div class="col-lg-4 col-sm-6 mb-3">
            <div class="card bg-primary text-white h-100">
                <div class="card-body">
                    <i class="fas fa-thermometer-half fa-2x"></i>
                    <h6 class="card-title mt-3">Last Temperature</h6>
                    <div class="display-4">{{ data[-1].temp }} °C</div>
                    <div class="card-text">
                        Recorded at {{ data[-1].timestamp }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
            <div class="card bg-success text-white h-100">
                <div class="card-body">
                    <i class="fas fa-chart-line fa-2x"></i>
                    <h6 class="card-title mt-3">Average Temperature</h6>
                    <div class="display-4">{{ average_temp }} °C</div>
                </div>
            </div>
        </div>
    </div>
</div>  
<div class="container mt-5">
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Add New Temperature Record</h3>
                    <form action="" method="" id="dataInsertForm">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="new_timestamp" name="new_timestamp" placeholder="Timestamp: YYYY-MM-DD HH:MM:SS" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="number" class="form-control" step="0.1" id="new_temp" name="new_temp" placeholder="Temperature (°C): e.g., 24.5" required>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Add Record</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <h2 class="mb-3">Last measured values</h2>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Number of Items
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item dropdown-get-item" href="#" data-items="5">5</a></li>
                  <li><a class="dropdown-item dropdown-get-item" href="#" data-items="10">10</a></li>
                  <li><a class="dropdown-item dropdown-get-item" href="#" data-items="15">15</a></li>
                  <li><a class="dropdown-item dropdown-get-item" href="#" data-items="20">20</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section id="dashboard-content">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Time</th>
                        <th>Temperature (°C)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{ item.timestamp }}</td>
                        <td>{{ item.temp }} °C</td>
                        <td id="action-column">
                            <form class="delete-item" action="" method="">
                                <input type="hidden" name="item-id" value="{{ item.id }}">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                            <form class="update-item" action="" method="">
                                <button type="button" class="btn btn-warning btn-sm update-item-btn" 
                                data-item-id="{{ item.id }}" 
                                data-item-timestamp="{{ item.timestamp }}" 
                                data-item-temp="{{ item.temp }}" 
                                data-toggle="modal" 
                                data-target="#updateItemModal">Update</button>                            
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>

<!-- Update Item Modal -->
<div class="modal fade" id="updateItemModal" tabindex="-1" aria-labelledby="updateItemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateItemModalLabel">Update Temperature Record</h5>
      </div>
      <div class="modal-body">
        <!-- Form inside the modal for updating an item -->
        <form id="updateItemForm">
          <div class="form-group mb-3">
            <label for="update_timestamp" class="col-form-label">Timestamp:</label>
            <input type="text" class="form-control" id="update_timestamp" name="update_timestamp" required>
          </div>
          <div class="form-group mb-3">
            <label for="update_temp" class="col-form-label">Temperature (°C):</label>
            <input type="number" class="form-control" id="update_temp" name="update_temp" step="0.1" required>
          </div>
          <input type="hidden" id="update_item_id" name="update_item_id">
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="submitUpdate">Update</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}