<div class="container">
    <div class="row">
        <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
            &copy; 2024 Flask Application.
        </div>
        <div class="col-md-6 text-center text-md-right footer-links">
            <a href="#" class="text-light ml-3">Terms of Service</a>
            <a href="#" class="text-light ml-3">Contact</a>
        </div>
    </div>
</div>