{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5 full-height-login">
    <div class="reg-form-container centered-login-form">
        <h2 class="mb-4">Login</h2>
        <form id="loginForm">
            <div class="mb-3">
                <label for="loginEmail" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="loginEmail" aria-describedby="emailLoginHelp" required>
                <div id="emailLoginHelp" class="form-text">Enter your registered email address.</div>
            </div>
            <div class="mb-3">
                <label for="loginPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="loginPassword" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock %}